:root {
  --bg-color: #343a47;
  --bg2-color: #282c34;
  --text-color: white;
  --border-color: #1d2127;
  --guess-green: #78c548;
  --guess-yellow: #e7cc0a;
  --btn-color: #15acf1;
}

.App {
  text-align: center;
  height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.App-header {
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: var(--bg2-color);
}

.logo {
  height: 5vh;
}

main {
  height: calc(100% - 8vh);
}


button {
  border: 1px solid var(--border-color);
  background-color: var(--btn-color);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}